html,body{
    padding: 0;
    margin: 0;
    display: none;
    /* background-color: ghostwhite; */
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: Roboto Mono;
    font-size: 9pt;
    box-sizing: border-box;
    font-weight: bold;
    color: saddlebrown;
}

a {
    display: inline-flex;
    text-decoration: none;
}

a:hover,
button:hover{
    cursor: pointer;
    text-decoration: underline;
}

header{
    position: relative;
    padding: 40px 40px 0 40px;
    /* margin-bottom: 20px; */
    width: 100%;
    /* background-color: rgb(235, 235, 235); */
    z-index: 1;
    /* height: 100vh; */
}

nav{
    display: flex;
    justify-content: space-between;
}

nav > *{
    display: block;
    width: fit-content;
}

footer{
    margin-top: auto;
    text-align: center;
    padding: 0 40px 40px 40px;
}

/* footer a{
    display: none;
} */