/*CSS for bottom navigation on project pages*/

.btmNavContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 35pt;
}

.previousContainer{
    width: 50%;
}

.nextContainer{
    width: 50%;
}

.previous{
    padding: 10pt;
    padding-top: 0;
    text-align: left;
}

.previous a{
    font-size: 16pt;
    color: white;
    font-family: 'IBM Plex Mono', sans-serif;
    text-decoration: none;
}

.next{
    padding: 10pt;
    padding-top: 0;
    text-align: right;
}

.next a{
    font-size: 16pt;
    color: white;
    font-family: 'IBM Plex Mono', sans-serif;
    text-decoration: none;
}

.previous div a span:hover{
    cursor: url('../cursor/c-backward.png') 50 50, auto;
}

.next div a span:hover{
    cursor: url('../cursor/c-forward.png') 50 50, auto;
}

.previous img,
.next img{
    width: 50%;
    opacity: 0.02;
    transition: 0.5s;
}

.previous img:hover{
    opacity: 1;
    cursor: url('../cursor/c-backward.png') 50 50, auto;
}

.next img:hover{
    opacity: 1;
    cursor: url('../cursor/c-forward.png') 50 50, auto;
}

@media only screen and (max-width: 600px) {
    
}