/*
analog clock
*/

.clock-analog{
    /* position: relative; */
    /* z-index: 1; */
    /* opacity: 0.5; */
}

.clock-analog .clock-knob{
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clock-analog .clock-arm-hour{
    width: 100vw;
    height: 2px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: calc(50% + 50vw);
    transform-origin: left;
}

.clock-analog .clock-arm-minute{
    width: 100vw;
    height: 1px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: calc(50% + 50vw);
    transform-origin: left;
}

.clock-analog .clock-arm-second{
    width: 100vw;
    height: 0.5px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: calc(50% + 50vw);
    transform-origin: left;
}

.clock-analog .clock-arm-hour div,
.clock-analog .clock-arm-minute div,
.clock-analog .clock-arm-minute a,
.clock-analog .clock-arm-second div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}