html{
    margin: 0;
    padding: 0;
    color: grey;
    background-color: ghostwhite;
}

*{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8.5pt;
    line-height: 1.3;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: 0.3s;
}

header,
footer,
nav,
figcaption{
    padding: 20px;
}

a{
    color: sienna;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a:hover,
.index summary:hover{
    color: grey;
    text-decoration: underline;
}

h2,
h3,
h4,
h5,
h6{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

/* landing */
.landing{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.landing header{
    position: relative;
    z-index: 1;
}

.landing nav{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.landing figure{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.landing img,
.landing video{
    max-width: 75vw;
    max-height: 75vh;
}

.landing figcaption{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
}

/* index */
.index{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.index details{
    width: calc(100% / 6);
}

.index details[open]{
    width: 50%;
}

.index summary {
    position: sticky;
    top: 20px;
    list-style: none;
    cursor: pointer;
    z-index: 1;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: sienna;
}

.index summary::-webkit-details-marker {
    display:none;
}

.index details[open] summary{
    cursor: pointer;
    margin-left: 30px;
    text-decoration: underline;
    color: grey;
}

.index details[open] summary:hover{
    color: sienna;
    text-decoration: none;
}

.index img,
.index video{
    display: block;
    padding: 10px;
    width: 100%;
}

footer{
    padding-top: 0;
    /* text-align: center; */
}

/*
mobile view
*/
@media only screen and (max-width:480px) {
    .index details{
        width: calc(100%/2);
    }

    .index details[open]{
        width: 100%;
    }
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width:768px) {
    .index details{
        width: calc(100%/4);
    }

    .index details[open]{
        width: 75%;
    }
}
