html,
body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Mono", Courier, monospace;
  font-size: 9pt;
  box-sizing: border-box;
  color: #063098;
  text-align: center;
}

nav{
  position: fixed;
  z-index: 1;
  height: 100vh;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

nav ul li{
  border-bottom: 1px solid transparent;
  opacity: 0.25;
  width: 100%;
  height: calc(100vh / 11);
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #063098;
}

.active{
  opacity: 1;
  border-right: 1px solid #063098;
}

#info,
header,
footer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header > *,
footer > * {
  width: 100%;
}

a{
  display: block;
  width: fit-content;
  margin: auto;
}

figure {
  position: relative;
}

figure h2{
  opacity: 0.5;
}

figure > :not(:first-child) {
  margin: 100vh 0;
}

figure figcaption {
  position: sticky;
  top: 47%;
  z-index: -1;
  padding: 0 80px;
}

figure > img,
figure > video {
  width: 100%;
  display: block;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
}

/* media container */

.social-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  position: relative;
}

.social-container .social-frame {
  width: 50vh;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: white;
  filter: drop-shadow(0 1px 1px silver);
}

.social-container .social-frame video,
.social-container .social-frame img {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  filter: drop-shadow(0 0.25px 0.25px silver);
}

.web-container {
  width: auto;
  padding: 80px;
  background-color: rgb(235, 235, 235);
}

.web-container video,
.web-container img {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 10px;
  filter: drop-shadow(0 1px 1px silver);
}

.web-container a {
  margin-top: 20px;
}

.media-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}

.media-container img,
.media-container video{
  max-width: 100%;
  max-height: 100%;
  padding: 80px;
  filter: drop-shadow(0 0.25px 0.25px grey);
}

figure:last-of-type > *:last-child {
  margin-bottom: 0;
}

/*
mobile view
*/
@media only screen and (max-width: 480px) {
  .web-container {
    padding: 40px;
  }

  .social-container {
    height: 80vh;
  }

  .social-container .social-frame {
    width: 35vh;
    height: 60vh;
  }
  
  figure figcaption {
    padding: 0 40px;
  }

  .web-container video,
  .web-container img {
    border-radius: 5px;
  }
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .web-container {
    padding: 40px;
  }

  .social-container {
    height: 80vh;
  }

  .social-container .social-frame {
    width: 35vh;
    height: 60vh;
  }

  figure figcaption {
    padding: 0 40px;
  }

  .web-container video,
  .web-container img {
    border-radius: 5px;
  }
}