.index{
	width: 50%;
	padding: 10px;
	text-align: right;
}

.bio-container{
	width: 100%;
}

.capabilities{
	width: 50%;
	padding: 10px;
}

.bio{
	margin: 0;
	padding: 10px;
	line-height: 1.4;
	font-size: 24px;
}