/*CSS for project containers on project pages*/

@font-face {
  font-family: self;
  src: url('../typeface/bretagne_self-modern_regular.otf');
}

.projectContainer-whole{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 35pt;
}

.projectContainer-single-top img,
.projectContainer-single-top video{
    width: 100%;
    padding-top: 10pt;
    display: block;
    transition: 0.5s;
    opacity: 0.02;
}

.projectContainer-single{
    display: block;
    margin: auto;
}

.projectContainer-single img,
.projectContainer-single video{
    display: block;
    margin: auto;
    width: 100%;
    transition: 0.5s;
    opacity: 0.02;
}

.projectTitleContainer{
    width: 100%;
    padding: 10pt 10pt 0 10pt;
    text-align: center;
}

.projectTitle h1{
    color: white;
    font-size: 10vw;
    line-height: 11vw;
    margin: 0;
    font-family: self, serif;
    font-weight: normal;
}

.projectTitle h3{
    color: white;
    font-size: 18pt;
    margin: 0;
    color: lightgray;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: normal;
/*    padding-bottom: 10pt;*/
}

.projectContainer-left,
.projectContainer-right{
    width: 50%;
}

.projectContainer-left-first{
    padding: 10pt;
    padding-right: 5pt;
    padding-top: 10pt;
}

.projectContainer-right-first{
    padding: 10pt;
    padding-left: 5pt;
    padding-top: 10pt;
}

.projectContainer-left-middle{
    padding: 10pt;
    padding-right: 5pt;
    padding-top: 0 !important;
}

.projectContainer-right-middle{
    padding: 10pt;
    padding-left: 5pt;
    padding-top: 0 !important;
}

.projectContainer-left h1,
.projectContainer-right h1{
    margin: 0;
    color: white;
    font-weight: normal;
    font-family: self, serif;
}

.projectContainer-left h3,
.projectContainer-right h3{
    margin: 0;
    color: lightgray;
    font-family: self, serif;
}

.projectContainer-left img,
.projectContainer-right img,
.projectContainer-left video,
.projectContainer-right video{
    width: 100%;
    opacity: 0.02;
    transition: 0.5s;
    display: block;
}

.projectContainer-left img:hover,
.projectContainer-right img:hover,
.projectContainer-left video:hover,
.projectContainer-right video:hover,
.projectContainer-single-top img:hover,
.projectContainer-single-top video:hover,
.projectContainer-single img:hover,
.projectContainer-single video:hover{
    opacity: 1;
    cursor: url('../cursor/c-diagonal.png') 50 50, auto;
}

.projectInfoContainer{
    width: 100%;
    padding: 0 10pt 10pt 10pt;
}

.projectInfo p{
    color: white;
    font-size: 18pt;
    margin: 0;
    text-decoration: none;
    font-family: self, serif;
}

.projectInfo p a span{
    color: lightgray;
    font-size: 18pt;
    text-decoration: none;
    font-family: 'IBM Plex Mono', sans-serif;
    display: inline-block;
}

.projectInfo p a span:hover{
    text-decoration: none;
    cursor: url('../cursor/c-diagonal-2.png') 50 50, auto;
}

.projectInfo p span{
    color: lightgray;
    font-size: 12pt;
    margin: 0;
    display: block;
}

@media only screen and (max-width: 600px) {
    .projectContainer-single-top img,
    .projectContainer-single-top video,
    .projectContainer-left-first img,
    .projectContainer-left-middle img,
    .projectContainer-right-first img,
    .projectContainer-right-middle img,
    .projectContainer-left-first video,
    .projectContainer-left-middle video,
    .projectContainer-right-first video,
    .projectContainer-right-middle video{
        opacity: 1;
    }
    
    
    .projectContainer-left,
    .projectContainer-right,
    .projectContainer-single img,
    .projectContainer-single video{
        width: 100% !important;
        opacity: 1 !important;
    }
    
    .projectContainer-left-first,
    .projectContainer-left-middle,
    .projectContainer-right-first,
    .projectContainer-right-middle,
    .projectContainer-single,
    .projectContainer-single img,
    .projectContainer-single video{
        padding: 0pt !important;
        opacity: 1 !important;
    }
    
    .projectContainer-left h3,
    .projectContainer-right h3{
        padding-left: 10pt;
        padding-bottom: 10pt;
    }
    
    .projectTitle h3{
        padding-bottom: 10pt;
    }
}
