html{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    margin: 0;
    padding: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    font-family: sans-serif;
    line-height: 1.2;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}

.navigation-container{
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
}

.index{
    width: 33.333333%;
    padding: 15px;
    font-size: 16px;
}

.title{
    width: 33.333333%;
    padding: 15px;
    font-size: 16px;
    text-align: center;
}

.info{
    width: 33.333333%;
    text-align: right;
    padding: 15px;
    font-size: 16px;
}

.project-media-container{
	width: 100vw;
	height: 100vh;
	padding: 60px 0px;
    text-align: center;
}

.first{
    padding: 0px !important;
}

.last{
	padding: 60px 0 0 0;
}

video{
	pointer-events: none;
}

.header-item{
	height: 100%;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.project-info-container{
    width: 100vw;
    height: 100vh;
    color: white;
	text-transform: lowercase;
    text-align: center;
}

.project-info{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.project-description{
    font-size: 64px;
    padding: 0px 15px;
}

.project-description span{
    text-transform: uppercase;
}

.project-type,
.project-date{
	font-size: 32px;
}

.project-type{
    padding: 15px;
}

.content-item-full-height{
	height: 100vh;
	width: auto;
}

.embed-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.embed-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content-item-full-width{
	width: 100vw;
	height: auto;
}

.btm-navigation-container{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
}

.previous{
	width: 50%;
	padding: 15px;
	font-size: 16px;
}

.next{
	width: 50%;
	padding: 15px;
	font-size: 16px;
	text-align: right;
}

a{
    color: white;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    opacity: 0.65;
    transition: 0.3s;
}

a:hover{
    opacity: 1;
}

@media only screen and (max-width:480px) {
    .header-item{
        height: auto;
        width: 100%;
    }

    .content-item-full-height{
        height: auto;
        width: 100vw;
    }

    .project-description{
        font-size: 32px;
    }

    .project-media-container{
        padding: 30px 0px;
    }

    .project-type,
    .project-date{
        font-size: 16px;
    }

    img,
    video{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .header-item{
        height: auto;
        width: 100%;
    }

    .content-item-full-height{
        height: auto;
        width: 100vw;
    }

    .project-description{
        font-size: 32px;
    }

    .project-media-container{
        padding: 30px 0px;
    }

    .project-type,
    .project-date{
        font-size: 16px;
    }

    img,
    video{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}