/*CSS for bio and index*/

@font-face {
  font-family: self;
  src: url('../typeface/bretagne_self-modern_regular.otf');
}

html, body{
    margin: 0;
    background-color: #063098;
    cursor: url('../cursor/c-diagonal.png') 50 50, auto;
}

.menu .name{  
    text-align: left;
    position: fixed;
    top: 10pt;
    color: white;
    z-index: 999;
    left: 10pt;
}

.menu a{
    color: white;
    text-decoration: none;
    font-family: self, serif;
    font-size: 16pt;
}

.menu #indexButton{  
    text-align: right;
    position: fixed;
    top: 10pt;
    color: white;
    z-index: 999;
    right: 10pt;
    font-size: 16pt;
    font-family: 'IBM Plex Mono',sans-serif;
}

#indexButton:hover{
    cursor: url('../cursor/c-index.png') 50 50, auto;;
}

#Inde{
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

#x{
    display: inline-block;
    transform: scale(1);
    transition: 0.2s;
}

#indexContainer{
    position: fixed;
    top: 40pt;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    background-image:linear-gradient(transparent, #063098);
    z-index: -1;
}

#indexContent{
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px white solid;
}

#contentTitle{
    width: 50%;
}

#contentType{
    width: 40%;
}

#contentYear{
    width: 10%;
    text-align: right;
}

#contentTitle,
#contentType,
#contentYear{
    padding: 5pt 0;
}

#contentTitle a,
#contentType span,
#contentYear span{
    padding: 0 10pt;
    display: block;
}

#contentTitle a{
    padding-right: 5pt;
    font-family: self,serif;
}

#contentType span{
    padding-left: 5pt;
    font-family: 'IBM Plex Mono',sans-serif;
}

#contentYear span{
    padding-left: 5pt;
    font-family: self,serif;
}

#contentTitle a{
    color: white;
    text-decoration: none;
}

#contentTitle a div:hover{
    cursor: url('../cursor/c-forward.png') 50 50, auto;
}

.menu a span:hover{
    cursor: url('../cursor/c-home.png') 50 50, auto;
}

#whoButton{
    font-size: 16pt;
    font-family: 'IBM Plex Mono',sans-serif;
    display: inline-block;
}

#whoButton:hover{
    cursor: url('../cursor/c-question.png') 50 50, auto;
}

#whoX{
    opacity: 0;
    display: inline-block;
    font-size: 16pt;
    font-family: 'IBM Plex Mono',sans-serif;
}

#who,
#whoX{
    transition: 0.2s;
}

#bioContainer{
    width: 100%;
    background-image:linear-gradient(transparent,#063090);
    position: fixed;
    top: 35pt;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}

.bio{
    padding: 10pt;
    color: white;
    font-size: 2.5vw;
    font-family: self, serif;
}

.bio a{
    color: white;
    text-decoration: none;
}

.bio a span:hover{
    cursor: url('../cursor/c-diagonal-2.png') 50 50, auto;
}

@media only screen and (max-width: 600px) {
    #indexContainer{
        background-image:linear-gradient(transparent, #063098 5%);
    }
    
    #bioContainer{
        background-image:linear-gradient(transparent, #063098 5%);
    }
    
    #contentTitle{
        width: 50%;
    }

    #contentType{
        width: 35%;
    }

    #contentYear{
        width: 15%;
        text-align: right;
    }
    
    #contentTitle,
    #contentType,
    #contentYear{
       font-size: 3vw;
    }
    
    .bio{
        font-size: 6vw;
    }
}

