.copyright {
    text-align:center;
    font-family: helvetica;
    color:dimgrey;
    font-size:0.8vw;
    padding:5px;
  }

figcaption{
  font-family:helvetica;
  font-size:2vw;
  color:black;
  padding-bottom:10%;
  font-weight:100;
}

img{
	height:50vw;
	width:auto;
  display:block;
}

p{
	text-align:center;
	color:grey;
  font-weight:100;
	font-family: helvetica;
	font-size:2.3vw;
}

h1{
	font-family:helvetica;
	font-size:6vw;
	color:#005aff;
	text-align:center;
	display:block;
  position:fixed;
  top:0;
  text-align:left;
}

html{
  background-color:gainsboro;
}

.copyright {
    text-align:center;
    font-family: helvetica;
    color:dimgrey;
    font-size:0.8vw;
    padding:20pt;
  }

.link:hover {
	background-color:transparent;
  text-decoration: underline;
}

.link{
  text-decoration: none;
}

ul {
	list-style-type:none;
	background-color:transparent;
  overflow: hidden;
  position:fixed;
  right:2%;
  top:0;
}

li {
	font-family:helvetica;
	padding:5px;
	float:right;
}