img{
	height:50vw;
	width:auto;
  display:block;
}

p{
	text-align:center;
	color:dimgrey;
  font-weight:100;
	font-family: helvetica;
	font-size:2.3vw;
}

h1{
	font-family:helvetica;
	font-size:6vw;
	color:black;;
	text-align:center;
	display:block;
  position:fixed;
  top:7%;
  text-align:left;
}

html{
  background-color:gainsboro;
}

.copyright {
    text-align:center;
    font-family: helvetica;
    color:dimgrey;
    font-size:0.8vw;
    padding:20pt;
  }

.link:hover {
	background-color:transparent;
  text-decoration: underline;
}

.link{
  text-decoration: none;
  font-size:5vw;
  color:white;
  font-family: helvetica;
}

.next{
  font-family:helvetica;
  color:#b8b8b8;
  text-align:right;
  display:block;
  position:fixed;
  bottom:2%;
  right:2%;
}

.previous{
  font-family:helvetica;
  color:#b8b8b8;
  text-align:right;
  display:block;
  position:fixed;
  bottom:2%;
  left:2%;
}

ul {
	list-style-type:none;
	background-color:transparent;
  overflow: hidden;
  position:fixed;
  right:2%;
  top:0;
}

li {
	font-family:helvetica;
	padding:5px;
	float:right;
}