/*html{
      animation: colorchange 10s infinite;  animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s 
      -webkit-animation: colorchange 0.1s infinite; /* Chrome and Safari 
    }

    @keyframes colorchange
    {
      0%   {background: lightgrey;}
      25%  {background: grey;}
      50%  {background: lightgrey;}
      75%   {background: grey;}
      100%  {background: lightgrey;}

    }
    */

body{
  background-color:gainsboro;
}

.style {
    width:auto;
    height:50vw;
  }

.copyright {
    text-align:center;
    font-family: helvetica;
    color:dimgrey;
    font-size:1vw;
    padding:5px;
  }

.link:link {
	color:white;
  text-decoration: none;
}

p {
	font-family:helvetica;
  font-size:2.3vw;
	color:dimgrey;
	padding:40pt;
	margin:40pt;
	text-align:left;
  padding-left: 10%;
  padding-right:10%;

}

ul {
	list-style-type:none;
	background-color:transparent;
  overflow: hidden;
  position:fixed;
  top:0;
  right:2%;
}

li {
	font-family:helvetica;
	padding:5px;
	float:right;
}