body {
      animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: dodgerblue;}
      25%  {background: blue;}
      50%  {background: navy;}
      75%   {background: blue;}
      100%  {background: dodgerblue;}

    }

    @-webkit-keyframes colorchange
    {
      0%   {background: dodgerblue;}
      25%  {background: blue;}
      50%  {background: navy;}
      75%   {background: blue;}
      100%  {background: dodgerblue;}
    }

.style {
    width:auto;
    height:50vw;
  }

.copyright {
    text-align:center;
    font-family: helvetica;
    color:dimgrey;
    font-size:0.8vw;
    padding:5px;
  }

a:link {
	color:white;
  text-decoration: none;
}

p {
	font-family:helvetica;
  font-size:5vw;
	color:grey;
	padding:40pt;
	margin:40pt;
	text-align:left;
}

ul {
	list-style-type:none;
	background-color:transparent;
  overflow: hidden;
  position:fixed;
  top:0;
  right:2%;
}

li {
	font-family:helvetica;
	padding:5px;
	float:right;
}