body {
    background-image:url('MRI SCAN_2.gif');
}

.tempMsg {
    font-family:'Roboto Mono', monospace;
    text-align:center;
    font-size:5vw;
    color:white;
}

#links:link {
    color:white;
}

#links:visited {
    color:white;
}

#links:hover {
    color:transparent;
}