/*CSS for home page only*/

@font-face {
  font-family: self;
  src: url('bretagne_self-modern_regular.otf');
}

.projectContainer-whole{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 35pt;
}

.projectContainer-left,
.projectContainer-right{
    width: 50%;
}

.projectContainer-left-first{
    padding: 10pt;
    padding-right: 5pt;
}

.projectContainer-right-first{
    padding: 10pt;
    padding-left: 5pt;
}

.projectContainer-left-middle{
    padding: 10pt;
    padding-right: 5pt;
    padding-top: 0 !important;
}

.projectContainer-right-middle{
    padding: 10pt;
    padding-left: 5pt;
    padding-top: 0 !important;
}

.projectContainer-left h1,
.projectContainer-right h1{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 16pt;
    font-family: self, serif;
}

.projectContainer-left h3,
.projectContainer-right h3{
    margin: 0;
    color: lightgray;
    font-weight: normal;
    font-size: 12pt;
    font-family: 'IBM Plex Mono', sans-serif;
}

.projectContainer-left img,
.projectContainer-right img{
    width: 100%;
    opacity: 0.02;
    transition: 0.5s;
}

.projectContainer-left img:hover,
.projectContainer-right img:hover,
.projectContainer-left video:hover,
.projectContainer-right video:hover{
    opacity: 1;
    cursor:url('cursor/c-forward.png') 50 50, auto;
}

@media only screen and (max-width: 600px) {
    .projectContainer-left img,
    .projectContainer-right img{
        opacity: 1;
    }
}