.tempMsg {
    font-family:'Roboto Mono', monospace;
    text-align:center;
    font-size:5vw;
}

#links:link {
    color:black;
}

#links:visited {
    color:black;
}

#links:hover {
    color:white;
}