html {
	background-color:gainsboro;
}

img{
			width:30%;
			height:auto;
			padding:20px;
			display:inline-block;
		}

.copyright {
	display:block;
    text-align:center;
    font-family: helvetica;
    color:dimgrey;
    font-size:0.8vw;
    padding:20pt;
  }

ul {
	list-style-type:none;
	background-color:transparent;
  overflow: hidden;
}

li {
	font-family:helvetica;
	padding:3px;
	float:right;
}